@model Way2Teste02.Models.GitHubRepository
@{
    ViewBag.Title = "Detalhes do Repositorio";
}

<div class="jumbotron">

    <h1>Detalhes - Repositório @Model.Name</h1>
    <p>Autor: @Model.Owner.Name</p>
    <p>Bio do Autor: @Model.Owner.Bio</p>
    <p>Linguagem: @Model.Language</p>
    <p>Descrição: @Model.Description</p>
    <p>Última atualização: @Model.UpdatedAt</p>
    <p>Contribuidores: @Model.Watchers</p>
    <ul>
        <li>Autor 01</li>
        <li>Autor 02</li>
        <li>Autor 03</li>
    </ul>
</div>


