@model IEnumerable<Way2Teste02.Models.GitHubRepository>

@{
    ViewBag.Title = "Resultados da Busca";
}

<h2>Resultados da Pesquisa</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OpenIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Watchers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PushedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Homepage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SvnUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MirrorUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasDownloads)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SshUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HtmlUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CloneUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GitUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Private)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasWiki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OpenIssues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watchers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PushedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Homepage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SvnUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MirrorUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasDownloads)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasIssues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SshUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HtmlUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CloneUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GitUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Private)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasWiki)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
